# General
DISCORD_TOKEN=<Bot Token>
DISCORD_GUILD=<ID of Guild, this Bot should be used at>
DISCORD_ACTIVITY=<What should be shown, Bot is playing right now>

# IDs
DISCORD_SUPPORT_CHANNEL=<ID of channel for mod-mail & poll suggestions>
DISCORD_VERIFIER=<ID of Member responsible for member verification>
DISCORD_WELCOME_CHANNEL=<ID of Welcome channel, where Welcome Message should be posted>
DISCORD_WORK_ON=<ID of Channel where new members can tell what they are working on>

# JSON Files
DISCORD_TIMER_FILE=<File name for running timers JSON file>
